body { 
    margin: 0;
  
    font-family: "Open Sans", sans-serif;
  
    background: linear-gradient(
      90deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
  
    min-height: 100vh;
  }
  
  .page { /*conteúdo da pagina toda*/
    width: 1008px;
    margin: 0 auto ;
    padding-top: 65px; 
  }
  
  nav {  /* é a parte do texto e imagens*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}
  
  ul{
    display: flex;
    list-style: none;    /*tira os pontinhos da lista*/
    gap: 48px;
  }
  
  a {
    color: #1f1534;
    text-decoration: none; /*serve para tirar a linha sublinhada da palavra*/
  }
  
  ul li a {
    opacity: 0.5; /*se eu quero mais escuro ou mais claro "0=claro   1=escuro*/
  }
  
  ul li a:hover { /* efeito de quando passa o cursor em cima da palavra*/ 
    font-weight: bold;
    opacity: 1;
  }
  
  main {
    display: flex;
  }

  h1, ul {
    font-family: "Mulish", sans-serif;
  }
  
  h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1f1534;
    font-weight: normal;
  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }
  
  section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    margin: 40px 0;
  }
  
  button {
    color: white;
    background: #69B99D;
    border: 0;
    padding: 16px 32px;
    display: flex;
    gap: 10px;
    border-radius: 4px; 
    cursor: pointer;
    align-items: center;
    text-transform: uppercase;
  }
  
  button:hover { /* efeito de quando passa o cursor em cima do botão*/ 
    background: #4EA788;
  }
  
  footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px; /* espaçamento pra baixo*/
  }
  
  footer a { /* função da tag para colocar o negrito somente no texto do footer*/
    font-weight: bold; 
  }
  
  #balls {
    bottom: 0px;  /*pra direcionar pra baixo*/
    position: fixed;
    right: 0px;
  }
  